---
import '../../styles/More.css';
---


<section class="flex flex-col py-10 md:flex-row md:p-20 gap-y-10">
    <div class="flex flex-1 flex-col gap-y-10 text-center">
        <h2  class="text-5xl font-bold text-cyan-400">Conocimientos</h2>
        <p class="text-xl text-cyan-100">Como desarrollador, poseo sólidos conocimientos en diversos lenguajes de programación. Capacitado en la creación y mantenimiento de aplicaciones y sitios web. Experto en lenguajes de programación como HTML, CSS, JavaScript, Python, MySQL, para construir interfaces de usuario atractivas y funcionales. Con conocimientos en el manejo de frameworks y herramientas modernas, como React, Astro, Flask, Express, para desarrollar aplicaciones web dinámicas. Comprensión de los principios del diseño web, la arquitectura de información y la seguridad en línea, colaboración con equipos multidisciplinarios para ofrecer soluciones tecnológicas efectivas y adaptadas a las necesidades del usuario.</p>
    </div>

    <div class="flex-1 grid grid-cols-2 gap-4">
        <div class="text-center expand-on-hover">
            <img src="images/js.png" class="w-20 m-auto" alt="imagen JavaScript" loading="lazy">
            <p class="mt-2 text-cyan-100">JavaScript</p>
        </div>
        <div class="text-center expand-on-hover">
            <img src="images/python.png" class="w-20 m-auto" alt="imagen Python" loading="lazy">
            <p class="mt-2 text-cyan-100">Python</p>
        </div>
        <div class="text-center expand-on-hover">
            <img src="images/html.png" class="w-20 m-auto" alt="imagen Html" loading="lazy">
            <p class="mt-2 text-cyan-100">HTML</p>
        </div>
        <div class="text-center expand-on-hover">
            <img src="images/css-3.png" class="w-20 m-auto" alt="imagen CSS" loading="lazy">
            <p class="mt-2 text-cyan-100">CSS</p>
        </div>
        <div class="text-center expand-on-hover">
            <img src="images/reactjs.svg" class="w-20 m-auto" alt="imagen React" loading="lazy">
            <p class="mt-2 text-cyan-100">React</p>
        </div>
        <div class="text-center expand-on-hover">
            <img src="images/mysql.svg" class="w-20 m-auto" alt="imagen MySQL" loading="lazy">
            <p class="mt-2 text-cyan-100">MySQL</p>
        </div>
    </div>
</section>