<section class="p-20 rounded-xl my-4 text-center">
    <h1 class="text-5xl font-bold my-5 text-cyan-400">Servicios</h1>
    <p class="text-cyan-100">¡Construimos el futuro digital, un código a la vez! En el corazón de nuestra misión se encuentra la creación de productos digitales no solo excepcionales, sino también escalables. No nos conformamos con seguir la corriente; estamos aquí para liderarla, desafiando los límites de la innovación.</p>
    <div class="text-cyan-100 flex flex-row mt-4">
        <ul class="text-left">
            <li>1. Diseño de Páginas web</li>
            <li>2. Desarrollo de Páginas Blog</li>
            <li>3. Desarrollo de APIs</li>
            <li>4. Desarrollo de Aplicaciones Web</li>
            <li>5. Desarrollo de Dashboard Web</li>
        </ul>
    </div>
</section>

