---
import '../styles/Footer.css';
---

<footer class="mx-auto py-10 mt-4 mb-5">
    <div class="container mx-auto flex flex-col justify-evenly items-center text-center gap-4">
        <div>
            <h4 class="font-bold text-xl text-cyan-100">SocialLinks</h4>
            <p class="w-72 text-cyan-50">¡Sígueme en mis redes sociales para acceder a contenido exclusivo, consejos relacionados con mi trabajo!</p>
        </div>
        <div class="flex text-sm">
            
            <a href="/" class="mx-3 flex expand-on-hover"><img src="images/facebook.png" class="w-7 mr-2" alt="icono facebook" loading="lazy"></a>
            <a href="/" class="mx-3 flex expand-on-hover"><img src="images/instagram.png" class="w-7 mr-2" alt="icono instagram" loading="lazy"></a>
            <a href="/" class="mx-3 flex expand-on-hover"><img src="images/twitter.png" class="w-7 mr-2" alt="icono twitter" loading="lazy"></a>
            <a href="/" class="mx-3 flex expand-on-hover"><img src="images/tiktok.png" class="w-7 mr-2" alt="icono tiktok" loading="lazy"></a>
        </div>
    </div>    
</footer>


